<!DOCTYPE html>

<body>
  <!-- Main Content -->
  <div>
    <div class="page-header">
      <h4 style="margin-top:-25px">
        파이썬 예제
        <span id="dpTime" class="pull-right"></span>
      </h4>
    </div>
    <!--     <table class="table table-hover table-striped"> -->
    <table class="table">
      <thead>
        <tr style="white-space: nowrap;">
          <th><span class="glyphicon glyphicon-list"></span>&nbsp;제목</th>
          <th><span class="glyphicon glyphicon-info-sign"></span>&nbsp;설명</th>
          <th><span class="glyphicon glyphicon-hdd"></span>&nbsp;크기</th>
          <th><span class="glyphicon glyphicon-time"></span>&nbsp;수정일</th>
        </tr>
      </thead>
      <tbody>
        <!--{% set bno = namespace(a=0) %} <변수 변경하려면 이거 사용해야함> -->
        <!-- file_list_py는 app.py에서 보내준 변수임 -->
        {% for list in file_list_py %}
          <tr>
            <td><a href="#" class="link" value="{{loop.index}}">{{list.file}}</a></td>
            <td>{{list.info}}</td>
            <td>{{list.size}}&nbsp;Bytes</td>
            <td>{{list.mtime}}</td>
          </tr>
          <input type="hidden" name="bno" value="{{loop.index}}">
          <input type="hidden" name="content" id="co{{loop.index}}" value="{{list.content}}">
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <script>
    onload = function() {
      dpTime();
    };

    function dpTime() {
      var now = new Date();
      hours = now.getHours();
      minutes = now.getMinutes();
      seconds = now.getSeconds();
      if (hours > 12) {
        hours -= 12;
        ampm = "오후 ";
      } else {
        ampm = "오전 ";
      }
      if (hours < 10) {
        hours = "0" + hours;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      document.getElementById("dpTime").innerHTML = ampm + hours + ":" + minutes + ":" + seconds;

      setTimeout("dpTime()", 1000);
    }
  </script>
</body>
