<html>
<head>
 <!-- 저장만 안씀 -->
    <link rel="stylesheet" href="static/css/stairsloader.css"> 
<!--     <link rel="stylesheet" href="static/css/bluespinnerloader.css">   -->
</head>
<body>
  
<div class="loader">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
</div>

<!--     <div class="loader">
    <h1>Please wait !</h1>
<div id="loading"></div>
    </div> -->
</body>
</html>